/*----- Styles für die "Über mich"-Seite -----*/

/*----- Über mich Abschnitt -----*/
#aboutMe {
  background-color: var(--default-green);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
    font-family: Oswald, sans-serif;
    font-weight: 500;
  }
}

#profile-container {
  position: relative;
  margin-bottom: 3.5rem;

  #profile-picture {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    object-fit: cover;
  }

  #profile-badges {
    width: 130px;
    height: 130px;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 85%;
    left: 60%;

    img {
      padding: 0 10px;
    }
  }
}

#details {
  width: 930px;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.8;
}

.bold-text {
  margin-top: 50px;
  font-weight: bold;

  a {
    color: white;
  }
}

#profile-download {
  margin: 60px 0;

  a{
    border: 1px solid white;
    padding: 15px;
    margin-right: 50px;
    color: white;
  }
}

/*----- Mein Angebot Abschnitt -----*/
#offer {
  color: var(--default-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;;
  line-height: 1.8;
  margin: 0 auto;
  padding: 80px 0 50px 0;

  h1 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 20px;
    margin: 0;
  }

  h2 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin: 50px 0 0 0;
  }

  p {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
  }

  ul {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.4;
  }
}
